:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-color:#ffffff;
  --light-gray: #EAEAEA;
  --gray-text: #777777;
  --black-text: #212326;
  --primary-green:#00985F;     

  --padding-page: 100px;
}

body{
  background-color: var(--background-color);  
  padding:0px var(--padding-page);
}